
.img-title{
    position: absolute;
    color:white;
    left: 0;
    right: 0;
    font-size: 100px;
    padding-top: 180px;
    letter-spacing: 3px;
   
  
  }
  
  
  .blackness{
    background-color: black;
    opacity: 0.4 ;
    height: 537px;
    width: 100%;
    position:absolute;
    top: 1px;
    text-align: center;
  }
  
  .about{
    padding-top: 12px;
  }
  
  .sam123{
   padding-top: 26px;
  }
  
  
  .choose{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    } 
  
  
  .whyus{
    font-size: 26px;
    color: rgb(225, 247, 247);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
  }
  
  .count1234
  {
    line-height: 100px;
    color:white;
    margin-left:30px;
    font-size:25px;
  }
  
  #shiva
  {
    width: 100px;
      height: 150px;
      background: red;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
    float:left;
    margin:5px;
  }
  
  
  .aaa {
    padding: 25px 25px 80px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 80px;
    padding-left: 25px;
  }
  
   .callus{
    position: fixed;
      bottom: 28px;
      left: 8px;
      width: 43px;
      height: 40px;
      background: #ffbb13;
      border-radius: 50px;
      text-align: justify;
      padding-top: 4px;
      color: #082f4e;
      /* box-shadow: 4px 4px 5px 0 rgb(50 50 50 / 20%); */
      z-index: 99999;
  
  } 
  
  
  
  
  .fa {
    padding: 15px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .responsive{
    max-width: 100%;
    height: auto;
  }

  
  .dark{
    background: black;
    
    overflow: hidden;
    filter: brightness(.5);
    
  }

  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }


  .test{

    position: absolute;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    }


  .con{

    position: absolute;
    font-size: 40px;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    }

    .con2{

      position: absolute;
      color: white;
      top: 57%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Roboto', sans-serif;
    }

  
    
    .con3{
      font-weight: bolder;
      font-size: 18px;
      top: 51%;
      left: 50%;
      color: rgb(240, 238, 231);
      position: absolute;
      transform: translate(-50%, -50%);
      font-family: 'Roboto', sans-serif;
      margin-top: -24px;

    }

    


    
    .callus{
      position: fixed;
        bottom: 28px;
        left: 8px;
        right: 10px;
        width: 43px;
        height: 40px;
        background: #ffbb13;
        border-radius: 50px;
        text-align: justify;
        padding-top: 4px;
        color: #082f4e;
        /* box-shadow: 4px 4px 5px 0 rgb(50 50 50 / 20%); */
        z-index: 99999;
    
    } 