
.img-title{
  position: absolute;
  color:white;
  left: 0;
  right: 0;
  font-size: 100px;
  padding-top: 180px;
  letter-spacing: 3px;
 

}


.blackness{
  background-color: black;
  opacity: 0.6 ;
  height: 645px;
  width: 100%;
  position:absolute;
  top: 1px;
  text-align: center;
}

.about{
  padding-top: 12px;
}

.sam123{
 padding-top: 26px;
}


.choose{
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  } 


.whyus{
  font-size: 26px;
  color: rgb(225, 247, 247);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  
}

.count1234
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}

#shiva
{
  width: 100px;
	height: 150px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  float:left;
  margin:5px;
}


.aaa {
  padding: 25px 25px 80px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 80px;
  padding-left: 25px;
}

 .callus{
  position: fixed;
    bottom: 28px;
    left: 8px;
    width: 43px;
    height: 40px;
    background: #ffbb13;
    border-radius: 50px;
    text-align: justify;
    padding-top: 4px;
    color: #082f4e;
    /* box-shadow: 4px 4px 5px 0 rgb(50 50 50 / 20%); */
    z-index: 99999;

} 




.fa {
  padding: 15px;
  font-size: 15px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-google {
  background: #dd4b39;
  color: white;
}


/* styles for profile card */


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}




button:hover, a:hover {
  opacity: 0.7;
}



@media screen and (min-width: 601px) {
  .welcome {
    font-size: 45px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .welcome {
    font-size: 22px;
  }
}