
.img-title{
  position: absolute;
  color:white;
  left: 0;
  right: 0;
  font-size: 100px;
  padding-top: 180px;
  letter-spacing: 3px;
 

}


.blackness{
  background-color: black;
  opacity: 0.4 ;
  height: 537px;
  width: 100%;
  position:absolute;
  top: 1px;
  text-align: center;
}

.about{
  padding-top: 12px;
}

.sam123{
 padding-top: 26px;
}


.choose{
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  } 


.whyus{
  font-size: 26px;
  color: rgb(216, 247, 247);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  
}

.count1234
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}

#shiva
{
  width: 100px;
	height: 150px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  float:left;
  margin:5px;
}


.aaa {
  padding: 25px 25px 80px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 80px;
  padding-left: 25px;
}

.callus{
  position: fixed;
    bottom: 10px;
    left: 8px;
    width: 43px;
    height: 40px;
    background: #ffbb13;
    border-radius: 50px;
    text-align: justify;
    padding-top: 4px;
    color: #082f4e;
    /* box-shadow: 4px 4px 5px 0 rgb(50 50 50 / 20%); */
    z-index: 99999;

}