.con{

    position: absolute;
    font-size: 45px;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    }

    .con2{

      position: absolute;
      color: white;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Roboto', sans-serif;
    }


    .callus{
        position: fixed;
          bottom: 28px;
          left: 8px;
          right: 10px;
          width: 43px;
          height: 40px;
          background: #ffbb13;
          border-radius: 50px;
          text-align: justify;
          padding-top: 4px;
          color: #082f4e;
          /* box-shadow: 4px 4px 5px 0 rgb(50 50 50 / 20%); */
          z-index: 99999;
      
      } 